<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-GDBVmojI7kNNg8TvdF-7IX_uejMLlsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>121599178253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.greenapp</string>
	<key>PROJECT_ID</key>
	<string>level-works-308610</string>
	<key>STORAGE_BUCKET</key>
	<string>level-works-308610.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121599178253:ios:5cd8551dfac364c7b78744</string>
	<key>DATABASE_URL</key>
	<string>https://level-works-308610-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>